#items-container {
  display: flex;
  height: 100%;
}

#items-container > div {
  flex: 33%;
}

#items-container > div > div {
  height: 93%;
  overflow-y: auto;
}

#items-list {}

.item {
  padding: 1em;
  background-color: #1a2538;
  border: 1px solid #42475f;
  border-radius: 5px;
  margin: 0 1em 1em 1em;
}
